body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #86A5D9 ;
}

.quemsomos {
    background-color: #26F0F1;
    color: white;
}
.margin {
    
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiro {
    background-color: #202A25;
}

.bg-footer{
    background-color: black;
    color: white;
}